.content-area-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;

  .area-top-title {
    color: var(--text-color-inverted);
    margin-top: 18px;
    margin-left: 5px;
  }

  .area-top-l {
    display: flex;
    align-items: center;
    column-gap: 6px;
  }

  .area-top-r {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 10px;
  }

  .sidebar-open-btn {
    display: inline-flex;
    align-items: center;
    display: none;
    margin-bottom: -1px;
    color: var(--text-color-inverted);

    @media (max-width: 768px) {
      display: inline-flex;
    }
  }

  .search-bar {
    width: 100%;
    padding: 10px 15px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  
    font-size: 16px;
    color: #333;
  
    &:focus {
      outline: none;
      border-color: #3f51b5;
      box-shadow: 0 4px 8px rgba(63, 81, 181, 0.2);
    }
  
    &::placeholder {
      color: #999;
      font-style: italic;
    }
  }

  // react-date-range plugin theme customization
  .date-range-wrapper {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;

    .rdrDateDisplay {
      margin: 0;
      height: 40px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      overflow: hidden;
    }

    .rdrDateRangeWrapper {
      position: relative;
    }

    .rdrMonthAndYearWrapper {
      position: absolute;
      top: 100%;
      width: 100%;
      background-color: var(--light-color);
      padding-top: 0;
      height: 40px;
      z-index: 1;
    }

    .rdrMonth {
      padding: 0;
      z-index: 1;
    }

    .rdrWeekDays {
      position: absolute;
      top: calc(100% + 40px);
      left: 0;
      width: 100%;
      background-color: var(--light-color);
      height: 32px;
      z-index: 1;
    }

    .rdrDays {
      position: absolute;
      top: calc(100% + 40px + 32px);
      left: 0;
      width: 100%;
      background-color: var(--light-color);
      z-index: 1;
    }

    &.hide-date-range {
      .rdrMonthAndYearWrapper {
        display: none;
      }
      .rdrMonth {
        padding: 0;
      }
      .rdrWeekDays,
      .rdrDays {
        display: none;
      }
    }

    .rdrDateDisplayWrapper {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);
      outline: var(--secondary-color);

      * {
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
        outline: var(--secondary-color);
        box-shadow: none;
        color: var(--base-text-color);
      }
    }
  }
}
